.cartItem {
  background-color: #f2f9f7;
}

.cartItem__img {
  width: 100%;
}

.cartItem__info {
  padding: 16px;
}

.cartItem__title {
  font-weight: 400;
  font-size: 20px;
  color: #1d1c1d;
  margin-top: 0;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.cartItem__quantity {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 20px;
}

.cartItem__quantityButton {
  display: block;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #b8b8b8;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.cartItem__quantityButton_minus {
  background-image: url('/img/minus.svg');
}

.cartItem__quantityButton_plus {
  background-image: url('/img/plus.svg');
}

.cartItem__quantityInput {
  width: 26px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
}

.cartItem__price {
  font-size: 20px;
}

@media (width <=940px) {
  .cartItem__title {
    font-size: 16px;
    display: block;
    white-space: nowrap;
  }

  .cartItem__quantity {
    gap: 0;
  }

  .cartItem__quantityButton {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .cartItem__quantityInput {
    font-size: 16px;
  }

  .cartItem__price {
    line-height: 1.24;
    color: #1d1d1d;
    font-size: 16px;
  }
}

@media (width <=660px) {
  .cartItem__info {
    padding: 16px 8px;
  }

  .cartItem__quantity {
    margin-bottom: 12px;
  }
}