/* inter-regular - cyrillic */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.24;
  font-weight: 400;
  color: #1d1c1d;

}

h1,
h2,
h3,
ul,
ol,
li,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

iframe {
  border: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
}

@media (width <=1240px) {
  .container {
    padding: 0 42px;
  }
}

@media (width <=940px) {}

@media (width <=660px) {
  .container {
    padding: 0 16px;
  }
}